<h1>Login</h1>
{{> message}}
<form action="/login" method="POST">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" placeholder="Enter email" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" placeholder="Enter password" required>

  <button type="submit">Login</button>
</form>

</form>
<div class="mt-2">
  <span>No account?</span>
  <a href="/register">Register</a>


  <form class="mt-4" action="/oauth/login/facebook" method="GET">
    <label for="facebook">使用 Facebook 登入</label>
    <button type="submit" name="facebook">Facebook Login</button>
  </form>
</div>